.root{
	-fx-background-color:#4d4d4d;
}

.label{
	-fx-background-color:white;
	-fx-pref-height:100px;
	-fx-pref-width:375px;
	-fx-font-size:20;
	-fx-text-fill:#4d4d4d;
}

.label-small{
	-fx-pref-height:30px;
	-fx-pref-width:375px;
	-fx-font-size:12;
	-fx-text-fill:#007acc;
}

.button{
	-fx-background-color:#4d4d4d;
	-fx-text-fill:#e8e8e8;
	-fx-font-size:20;
	-fx-background-radius:0;
	-fx-pref-width: 75px;
	-fx-pref-height:75px;
}

 .button:hover {
        -fx-background-color:#666666;
}

.button-blue{
	-fx-background-color:#007acc;
	-fx-text-fill:#e8e8e8;
	-fx-pref-width: 150px;
}

.button-blue:hover{
	-fx-background-color:#0099ff;
}

.button-misc{
	-fx-background-color:#404040;
}




